# SPDX-FileCopyrightText: 2024 DE:AD:10:C5 <franklin@dead10c5.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# platformdirs==2.5.1
graphviz==0.20.3
pygraphviz==1.14
python-terraform==0.10.1
google-cloud-storage==2.19.0
